﻿<%@ page title="WELCOME" language="VB" masterpagefile="~/Site.Master" autoeventwireup="false" inherits="_Default, App_Web_ngygm4mk" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
       <%-- Welcome to Optimize System--%>
    </h2>
    <p>
   
    </p>
    <div style="position:relative; top: 187px; left:484px;"><img src ="images/bg_msg.png" /></div>
</asp:Content>