﻿<%@ page title="LOG-ON" language="VB" masterpagefile="~/Site.Master" autoeventwireup="false" inherits="Member_download, App_Web_ngygm4mk" debug="true" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
    <style type="text/css">
        #showForm
        {
            width: 298px;
        }
    </style>

    <script language="javascript" type="text/javascript">

    </script>
</asp:Content>

<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent" >

<asp:UpdatePanel ID="udp_member"  runat="server"  RenderMode="Inline" >

<ContentTemplate> 
    <div id="Container">
    <div class="BgContent">
         <asp:MultiView ID=multiview1 runat=server>    
            <asp:View ID=view0 runat=server >     
                <div id="NavAbout">
                    <ul>           
                        <li><asp:HyperLink id="nav_about1_0" runat=server NavigateUrl="~/Member.aspx?tab=1" ><img src="images/member/mn_about_de_01.gif" name="navabout1" border="0" id="navabout1" /></asp:HyperLink></li>
                        <li><asp:HyperLink id="nav_about2_0" runat=server NavigateUrl="~/Member.aspx?tab=2" ><img src="images/member/mn_about_02.gif" name="navabout2" border="0" id="navabout2" onmouseover="this.src=&#39;images/member/mn_about_over_02.gif&#39;"  onmouseout="this.src=&#39;images/member/mn_about_02.gif&#39;"></asp:HyperLink></li>
                        <li><asp:HyperLink id="nav_about3_0" runat=server NavigateUrl="~/Member.aspx?tab=3" ><img src="images/member/mn_about_03.gif" name="navabout3" border="0" id="navabout3" onmouseover="this.src=&#39;images/member/mn_about_over_03.gif&#39;" onmouseout="this.src=&#39;images/member/mn_about_03.gif&#39;"></asp:HyperLink></li>           
                    </ul>
                    <div class="ClearFoat"></div>
                </div> 
                <div id="ColAddress">   
                    <div><br /><br /><label runat=server id=lbl_status class="lbl_status"></label></div>
                    <div class="ClearFoat"></div>
                </div>
                <div id="ColForm">                                         
                    <div id="showForm">  
                    <h1><img src="images/lbl_user_email.png" width="121" height="20"></h1>                
                    <input name="txt_user_id" runat=server  type="text" class="Txtbox" id="txt_user_id" 
                            value="waravuz@gmail.com"  >&nbsp;
                    <h1><img src="images/lbl_user_password.png" width="121" height="20"></h1> 
                    <input name="txt_user_password" runat=server  type="text" class="Txtbox" 
                            id="txt_user_password" value="a" >&nbsp;
                    
                    <div class="ClearFoat"></div>
                    <div style="margin:5px 0;">
                  <asp:UpdateProgress  ID="UpdateProgress0" AssociatedUpdatePanelID=udp_member DisplayAfter=3 runat="server">
                    <ProgressTemplate >
                        <asp:Image ID=img_UpdatePanel1 runat=server ImageUrl="~/images/progress.gif" /> Loading..
                    </ProgressTemplate>
                    </asp:UpdateProgress>   
                    <input name="button" runat=server  type="submit" class="Btn" id="button" value="ตกลง">
                    <input name="button2" type="reset" class="Btn" id="button2" value="ยกเลิก" > <asp:CheckBox ID=chk_remember runat=server  CssClass="lbl_status" Text="Remember Me" />
                        <div style="padding-left:15px; " id="showLoad">
                       
                        </div>
                    </div>              
                </div>                 
            </div>  
                <div id="ColAddress"><div class="ClearFoat"></div></div>
            </asp:View>    

            <asp:View ID=view1 runat=server >
                <div id="NavAbout">
                    <ul>           
                        <li><asp:HyperLink id="nav_about1_1" runat=server NavigateUrl="~/Member.aspx?tab=1" ><img src="images/member/mn_about_de_01.gif" name="navabout1" border="0" id="navabout1" /></asp:HyperLink></li>
                        <li><asp:HyperLink id="nav_about2_1" runat=server NavigateUrl="~/Member.aspx?tab=2" ><img src="images/member/mn_about_02.gif" name="navabout2" border="0" id="navabout2" onmouseover="this.src=&#39;images/member/mn_about_over_02.gif&#39;" onmouseout="this.src=&#39;images/member/mn_about_02.gif&#39;"></asp:HyperLink> </li>
                        <li><asp:HyperLink id="nav_about3_1" runat=server NavigateUrl="~/Member.aspx?tab=3" ><img src="images/member/mn_about_03.gif" name="navabout3" border="0" id="navabout3" onmouseover="this.src=&#39;images/member/mn_about_over_03.gif&#39;" onmouseout="this.src=&#39;images/member/mn_about_03.gif&#39;"></asp:HyperLink></li>           
                    </ul>
                    <div class="ClearFoat"></div>
                </div> 
                <div id="ColAddress">   
                    <div><br /><br /><label runat=server id=lbl_status1 class="lbl_status"></label></div>
                    <div class="ClearFoat"></div>
                </div>
            

                <div id="ColForm">                                         
                    <div id="showForm">  
                        <div style="font-weight:bold;   text-transform:capitalize!important; color:#cf642c; padding-bottom:2px; text-shadow: 0.1em 0.1em 0.2em black"><%=Request.Cookies("member_info")("SiteName")%></div>
                        <%=Request.Cookies("member_info")("udName")%> |ww <%=Request.Cookies("member_info")("uDepartment")%>&nbsp;
                                          
                        <div class="ClearFoat"></div>
                        <div style="margin:5px 0;">
                            <asp:UpdateProgress ID="UpdateProgress1" AssociatedUpdatePanelID=udp_member DisplayAfter=3 runat="server">
                                <ProgressTemplate>
                                <asp:Image ID=img_UpdatePanel1 runat=server ImageUrl="~/images/progress.gif" /> Loading..
                                </ProgressTemplate>
                            </asp:UpdateProgress>   
                            <div style="padding-left:15px; " id="showLoad">                       
                            </div>
                        </div>
            
                              
                    </div>                 
                </div>  
                <div id="ColAddress"><div class="ClearFoat"></div></div>
            </asp:View>

            <asp:View ID=view2 runat=server >            
               <div id="NavAbout">
                    <ul>           
                        <li><asp:HyperLink id="nav_about1_2" runat=server NavigateUrl="~/Member.aspx?tab=1" ><img src="images/member/mn_about_01.gif" name="navabout1" border="0" id="navabout1"  onmouseover="this.src=&#39;images/member/mn_about_over_01.gif&#39;" onmouseout="this.src=&#39;images/member/mn_about_01.gif&#39;"></asp:HyperLink></li>
                        <li><asp:HyperLink id="nav_about2_2" runat=server NavigateUrl="~/Member.aspx?tab=2" ><img src="images/member/mn_about_de_02.gif" name="navabout2" border="0" id="navabout2" /></asp:HyperLink></li> 
                        <li><asp:HyperLink id="nav_about3_2" runat=server NavigateUrl="~/Member.aspx?tab=3" ><img src="images/member/mn_about_03.gif" name="navabout3" border="0" id="navabout3" onmouseover="this.src=&#39;images/member/mn_about_over_03.gif&#39;" onmouseout="this.src=&#39;images/member/mn_about_03.gif&#39;"></asp:HyperLink></li>             
                    </ul>
                    <div class="ClearFoat"></div>
                </div> 
                <div id="ColAddress">   
                    <div><br /><br /><label runat=server id=lbl_status2 class="lbl_status"></label></div>
                    <div class="ClearFoat"></div>
                </div>
                <div id="ColForm">                                         
                    <div id="showForm">  
                        <h1><img src="images/lbl_user_email.png" width="121" height="20"></h1>                
                        หน้าโหลด drivers &nbsp;
                                          
                        <div class="ClearFoat"></div>
                        <div style="margin:5px 0;">
                            <asp:UpdateProgress ID="UpdateProgress2" AssociatedUpdatePanelID=udp_member DisplayAfter=3 runat="server">
                                <ProgressTemplate>
                                <asp:Image ID=img_UpdatePanel1 runat=server ImageUrl="~/images/progress.gif" /> Loading..
                                </ProgressTemplate>
                            </asp:UpdateProgress>   
                            <div style="padding-left:15px; " id="showLoad">                       
                            </div>
                        </div>              
                    </div>                 
                </div>  
                <div id="ColAddress"><div class="ClearFoat"></div></div>           
            </asp:View>

            <asp:View ID=view3 runat=server >            
               <div id="NavAbout">
                    <ul>           
                        <li><asp:HyperLink id="nav_about1_3" runat=server NavigateUrl="~/Member.aspx?tab=1" ><img src="images/member/mn_about_01.gif" name="navabout1" border="0" id="navabout1"  onmouseover="this.src=&#39;images/member/mn_about_over_01.gif&#39;" onmouseout="this.src=&#39;images/member/mn_about_01.gif&#39;"></asp:HyperLink></li>
                        <li><asp:HyperLink id="nav_about2_3" runat=server NavigateUrl="~/Member.aspx?tab=2" ><img src="images/member/mn_about_02.gif" name="navabout2" border="0" id="navabout2" onmouseover="this.src=&#39;images/member/mn_about_over_02.gif&#39;" onmouseout="this.src=&#39;images/member/mn_about_02.gif&#39;"></asp:HyperLink></li> 
                        <li><asp:HyperLink id="nav_about3_3" runat=server NavigateUrl="~/Member.aspx?tab=3" ><img src="images/member/mn_about_de_03.gif" name="navabout3" border="0" id="navabout3" /></asp:HyperLink></li>             
                    </ul>
                    <div class="ClearFoat"></div>
                </div> 
                <div id="ColAddress">   
                    <div><br /><br /><label runat=server id=lbl_status3 class="lbl_status"></label></div>
                    <div class="ClearFoat"></div>
                </div>
                <div id="ColForm">                                         
                    <div id="showForm">  
                        <h1><img src="images/lbl_user_email.png" width="121" height="20"></h1>                
                        หน้า Q&A &nbsp;
                                          
                        <div class="ClearFoat"></div>
                        <div style="margin:5px 0;">
                            <asp:UpdateProgress ID="UpdateProgress3" AssociatedUpdatePanelID=udp_member DisplayAfter=3 runat="server">
                                <ProgressTemplate>
                                <asp:Image ID=img_UpdatePanel1 runat=server ImageUrl="~/images/progress.gif" /> Loading..
                                </ProgressTemplate>
                            </asp:UpdateProgress>   
                            <div style="padding-left:15px; " id="showLoad">                       
                            </div>
                        </div>              
                    </div>                 
                </div>  
                <div id="ColAddress"><div class="ClearFoat"></div></div>           
            </asp:View>
             
        </asp:MultiView>

        </div>
      </div>



</ContentTemplate>
</asp:UpdatePanel>


</asp:Content>