
/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
 
    margin:  40px auto 0px auto;
    border: 0px solid #496077;
	height: 70px;
}



body { margin:0; padding:0; font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#000;}
a { outline:none; text-decoration:none; color:#fff;}

/*Main*/
#Wrapper { width:100%; position:relative;}
#WrapSlide { width:100%;}
#WrapAbout{ width:100%; background:url(../images/bgabout.jpg) no-repeat top center;}

#Header {
	width:100%;
	background:url(../images/bgwide_top.png) no-repeat top center;
	height:102px;
}
#Container { margin:0 auto; width:945px; height:534px;}
#Container_auto { margin:0 auto; width:945px; height: auto;}

.BgContent { height:554px;background: url(../images/bgcontent.png) repeat-y top left; padding: 20px 30px 0 30px;}
.BgContent_auto {background: url(../images/bgcontent.png) repeat-y top left; padding:20px 30px 30px 30px;}

#Footer {width:100%;
background:url(../images/bgwide_footer.png) no-repeat top center;}

.Header { width:945px; margin:0 auto; padding:15px 0 0 0;
	height: 86px;
}
.Logo{ width:249px; float:left; padding:30px 0 0 0;}
.Lang { float:right; width:59px; text-align:left;}
.Lang ul { margin:0; padding:0;}
.Lang ul li { margin:0; padding:0 0 3px 7px; list-style:none; color:#3f3838;}
.Lang ul li:hover { list-style:none; padding:0 0 3px 7px; color:#a56348; background:url(../images/bullet_lang.gif) no-repeat top left;}
.Lang ul li.de { list-style:none; padding:0 0 3px 7px; color:#a56348; background:url(../images/bullet_lang.gif) no-repeat top left;}

.ClearFoat { clear:both;}
.Lang a { color:#a56348; text-decoration:none;}
.Lang a:hover { color:#a56348; text-decoration:underline;}

.Menu { width:695px; float:left;text-align:right; color:Black; }
.Menu ul { margin:25px 0 0 0; padding:0; color:Black;}
.Menu ul li { margin:0; padding:0; list-style:none; display:inline; color:Black;}

.Footer { width:945px; margin:0 auto; padding:15px 0;}
.Icon { margin:0 0 15px 0;}
.IconSocial {margin:8px 25px 0 0;width:75px; float:left;}
.IconAd { margin:0 0 20px 0; width:841px; float:left;}
.IconAd ul { margin:0; padding:0;}
.IconAd ul li { margin:0; padding:0 10px 0 0; list-style:none; display:inline;}

.copyr { padding:10px 0 15px 0;color:#746f6f; text-decoration:none; font-family:Cordia New; font-size:16px !important; text-transform:uppercase; text-align:center;}
.copyr a {color:#746f6f; text-decoration:none;}
.copyr a:hover { text-decoration:underline;}
/*End Main*/


/*About*/

#NavAbout { margin:0; padding:0;}
#NavAbout ul { margin:0; padding:0;}
#NavAbout ul li { margin:0 3px 0 0; list-style:none; display: block; float:left;}


.Submn {background:url(../images/bgmn.png) no-repeat top left; font-size:13px; color:#495059; font-family:Arial, Helvetica, sans-serif; padding:10px 0; text-align:center; width:165px !important;}
.Submn a {color:#495059; text-decoration:none;}
.Submn a:hover {color:#cd6f3c; text-decoration:none;}

.Submn_de {background:url(../images/bgmn_de.png) no-repeat top left; font-size:13px; color:#fff; font-family:Arial, Helvetica, sans-serif; padding:10px 0; text-align:center; width:165px !important;}
.Submn_de a {color:#fff; text-decoration:none;}

.Content { margin:00px 0 0 0; padding:0; color:#fff;}

.boximg { background:url(../images/bgimg.png) no-repeat top left; float:left; padding:3px 5px 3px 3px; width:263px; margin:0 30px 0 0;}
.Colleft { width:582px; float: right; padding:10px 0 0 0;}

.boxplan { background:url(../images/plan/bg.png) no-repeat bottom center; padding:10px 0 22px 0; position:relative; width:886px;}
.boxplan a { color:#cd6f3c; text-decoration: underline;}
.boxplan a:hover { color:#cd6f3c; text-decoration:none;}
.btn_map {
	position:absolute;
	width:500px;
	margin:0;
	left: 619px;
	top: 405px;
}


#ColAddress {margin:20px 0 15px 0; padding:0 0 15px 0; border-bottom:1px dashed #9a9898;}
h1 { margin:0; padding:0;}
#ColAddress a { color:#fff; text-decoration:underline;}
#ColAddress a:hover { color:#fff; text-decoration:none;}

#ColForm { width:576px; 
margin:0 15px 0 0; padding:0; float:left;
}


.Txtbox {width:270px; float:left; margin:0 5px 5px 0; font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#666; border:none; background:#fff; padding:5px;}
.Txtbox-area {width:555px; float:left; margin:0 5px 5px 0; font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#666; border:none; background:#fff; padding:5px;}
.Txtbox-area_member {width:270px; float:left; margin:0 5px 5px 0; font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#666; border:none; background:#fff; padding:5px;}

.Btn { font-family:Tahoma, Geneva, sans-serif;background:#d88946; border:none; font-size:12px; color:#fff; padding:4px 6px; cursor:pointer;}
.Btn:hover { background:#d88946; color:#000;}

.ImgAlpha { filter:alpha(opacity=100); -moz-opacity:1.0; opacity:1.0; border:none; background:none !important;}
.ImgAlpha:hover { filter:alpha(opacity=100); -moz-opacity:0.7; opacity:0.7; background:none !important;}

.plan {width:886px; height:430px;}
.plan img {margin:-2px 0 0 0;}

/*Popup*/
.PopupMap {margin:0 auto; padding:0; width:800px !important; font-size:12px; color:#666;}
.txtmap { color:#666;}
.txtmap a { color:#666; text-decoration:none;}
.txtmap a:hover { color:#666; text-decoration: underline;}
.RowHeadPop {margin:0; padding:0;}
.RowMap { margin:0; padding:0;}
.RowFooterPop {margin:10px 0 0 0; text-transform:uppercase; font-size:10px; padding:0; text-align:center !important;}


/*end popup*/

.comment { color:#fff; text-decoration:none;}
.comment a { color:#fff; text-decoration: underline;}
.comment a:hover { color:#fff; text-decoration: none;}


#ColUnit {width:630px; float:left; margin:20px 20px 0 0;}
#ColUnitDetail {width:230px; float:right; margin:20px 0 0 0;}
#ColUnitDetail h2 { border-bottom:1px dashed #8c8c8c; padding:0 0 7px 0; margin:0 0 10px 0;}
.linedot { border-bottom:1px dashed #8c8c8c; margin:15px 0;}

#RowDetail {margin:10px 0 20px 0; padding:0;}
#RowDetailNoSubmn {margin:30px 0 20px 0; padding:0;}

#RowDetail h1, #RowDetailNoSubmn h1 {margin:0; padding:0 0 20px 0;}
#RowDetail h2, #RowDetailNoSubmn h2 {margin:0; padding:0 0 7px 0; color:#e78944; font-size:12px; font-weight:bold; text-transform:uppercase; text-shadow:none;}
#RowDetail h3, #RowDetailNoSubmn h3 {margin:0; padding:0; color:#333; font-size:12px; font-weight:bold;}

#RowDetail ul, #RowDetailNoSubmn ul {margin:0 0 20px 30px; padding:0;}

.BorderPlan {border:1px solid #cfbcb6; background:#fff; padding:10px; min-height:500px;}
.BoxFac {float:left; width:230px; margin:0 10px 0 0;}
/*end about page*/

/*Master plan*/
#ColLPlan {float:left; width:223px;}

#ColRPlan {float:right; width:650px;}
.BorderTypePlan {border:1px solid #90979e; min-height:35px; background:url(../images/bgbox_type.gif) repeat-y top left #fff;}

#Floor { float:left; margin:0; padding:0; width:140px; text-shadow:none;}
#Floor ul {margin:0; padding:0;}
#Floor ul li { list-style:none; display:block; margin:10px 0 10px -1px; padding:7px; border-top:1px solid #fff; border-right:1px solid #fff; border-bottom:1px solid #fff; border-left:0; font-size:12px; text-transform:uppercase;}

.floorbg, .floorbg a {background:#90979e; color:#fff;  text-decoration:none !important}
.floorbg a:hover {color:#060504; text-decoration:none;}
.floorbg_de, .floorbg_de a {background:#a0776a; color:#fff;  text-decoration:none !important }

#PlanImg {float: right; width:480px; background:url(../images/arrow_type.gif) no-repeat left center; margin:0 0 0 0; padding:10px;}
#PlanImg h1 {margin:0; padding:10px 0 10px 0; text-align:right;}
#PlanImg h2 {margin:0; padding:0 0 10px 0; color:#a0776a; font-size:15px; font-weight:bold; text-decoration:underline;}

.RowTblDetail {margin:0; padding:0;}
.RowTblDetail ul {margin:0 0 0 20px !important; padding:0;}

/*end master plan*/

/*Unit type*/
.RowUnit {margin:0 0 20px 0;}
.BoxUnit {float:left; border:1px solid #cfbcb6; background:#fff; margin:0 5px; width:199px; min-height:180px; text-align:center; padding:5px;}
.BoxUnit h1 {margin:5px 0 7px 0 !important; padding:5px 0 0 0 !important; text-align:center; color:#a96161; font-weight:bold; font-size:15px; border-top:1px dotted #ccc; font-family: helvetica, tahoma;}
.BoxUnit h1 a {text-decoration:none !important; color:#a96161;}
.BoxUnit h1 a:hover {text-decoration:none !important; color:#450c0d;}

.BoxUnit:hover {border:1px solid #a1776b;}
.BoxUnitImg {border:1px solid #cfbcb6; padding:10px; background:#fff;}

/*end unit type*/

/*Table*/
.TrHead {background:#d3a99a; color:#fff; font-weight:bold; text-align:center; text-shadow:none;}
.Tr1 {background:#f7f5f5; color:#333;}
.Tr2 {background:#eae1df; color:#333;}
/*end table*/

.main { padding-top:48px;
	margin-left: 40px;
}
#menu_v  
{
	 text-align:right;
	font-size:16px; font-weight:bold; font-family:Cordia New  ;
	height: 45px;
	padding: 57px     0px 0      95px;
	margin-left:220px;
	/*background: url(../images/img3.gif) no-repeat right top;*/
}
#menu_v ul {	margin: 0;	padding: 0;	list-style: none;}
#menu_v a {		text-decoration: none;		color:#343434; }

#menu_v .menu_here 
{		border-left: 1px solid #6D6D5F;	font-weight:bold;color:Orange ;			}

#menu_v a:hover {text-decoration: underline;}
.menu_user a {padding: 0 0px 0 0px;	text-transform: uppercase;	text-decoration: none;	color: #000000;}

.menu_user .first a {	border: none;}

.menu_user 
.menu_user_here {border: none;	font-weight:bold; text-align:right;	text-transform: uppercase ;	}

.menu_user a:hover {text-transform: uppercase;	text-decoration: underline; }
.menu_user  ul{

margin:0;
padding:0px;
border:#E7E7E7	 1px solid;
list-style-type:none;
width:100%
}
.menu_user  li
{
/*background: url(../../images/bullet_small_grey.gif) left no-repeat;*/
margin:0px;
padding-left:0px;
}

.tb_grid {}
.tb_grid td{border:1px dashed #9a9898; vertical-align:middle ; text-align:center }

.tb_grid img{ width:115px; height:115px}

.lbl_status { color:White; font-size:14pt; font-family: 'Cordia New'}